.aboutD1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.aboutImg {
  height: 450px;
  width: 450px;
  transition: 1s ease-in-out;
  border-radius: 50%;
}

/* Responsive */
@media (max-width: 680px) {
  .aboutImg {
    height: 400px;
    width: 400px;
  }
}

@media (max-width: 490px) {
  .aboutImg {
    height: 300px;
    width: 300px;
  }
}

@media (max-width: 400px) {
  .aboutImg {
    width: 90%;
    aspect-ratio: 1;
    height: auto;
  }
}
