.homeBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.img {
  margin-top: 120px;
  height: 250px;
  width: 250px;
  border: 4px solid var(--color-primary);
  transition: transform 0.3s ease;
  border-radius: 50%;
}

.img:hover {
  transform: scale(1.1);
}

.homeIntro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.homeIntro p {
  text-align: center;
}

.break {
  display: inline;
}

.btn {
  margin-top: 50px;
  border-radius: var(--borderRadiusMd);
  cursor: pointer;
  padding: 7px 30px;
  background-color: var(--color-primary);
  color: var(--colorWhite);
  font-weight: var(--boldL2);
}

.nameTextCol {
  padding-top: 50px;
  font-size: 5.4rem;
  font-weight: var(--boldL3);
  color: var(--color-primary);
}

.hd3Col {
  font-size: 1.6rem;
  font-weight: var(--boldL2);
  color: var(--color-primary);
}

.hd2Gry {
  font-size: 1.2rem;
  font-weight: var(--boldL2);
  color: var(--colorGray4);
}

.hd1 {
  font-size: 1.2rem;
  font-weight: var(--boldL2);
}

@media (max-width: 800px) {
  .nameTextCol {
    font-size: 3.4rem;
  }

  .hd3Col {
    font-size: 1.3rem;
  }
}

@media (max-width: 500px) {
  .nameTextCol {
    font-size: 2.7rem;
  }

  .hd3Col {
    font-size: 1.2rem;
  }

  .hd2Gry {
    font-size: 1rem;
  }

  .hd1 {
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  .nameTextCol {
    font-size: 2rem;
  }

  .hd3Col {
    font-size: 1.1rem;
  }

  .hd2Gry {
    font-size: 1rem;
  }

  .hd1 {
    font-size: 1rem;
  }
}

@media (max-width: 350px) {
  .img {
    width: 100%;
    aspect-ratio: 1;
    height: auto;
  }
}
