.footer {
  height: 300px;
  border-top: 2px solid var(--neutral-200);
  margin-top: 100px;
  padding: 10px 0;
  display: flex;
  gap: 20px;
  align-items: space-between;
  justify-content: center;
}

.userInfo {
}

.name {
  font-size: calc(4 * var(--size));
  font-weight: var(--boldL3);
  line-height: calc(3.5 * var(--size));
  color: var(--color-primary);
}

.username {
  font-weight: var(--boldL3);
  color: var(--colorGray4);
}

.bio {
  font-size: calc(2 * var(--size));
  font-weight: var(--boldL3);
  color: var(--colorGray4);
  text-wrap: nowrap;
}

.border {
  border: 1px solid var(--neutral-200);
}

.itemList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  height: max-content;
}

.link {
  text-wrap: nowrap;
  padding: 7px;
  border-radius: var(--borderRadiusMd);
  border: 1px solid var(--colorGray4);
  color: var(--colorGray4);
}

.color {
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  color: var(--colorWhite);
}

@media (max-width: 800px) {
  .name {
    font-size: calc(3 * var(--size));
    line-height: calc(2.5 * var(--size));
  }

  .bio {
    font-size: calc(1.5 * var(--size));
    font-weight: var(--boldL3);
    color: var(--colorGray4);
    text-wrap: nowrap;
  }
}

@media (max-width: 700px) {
  .footer {
    height: min-content;
    flex-direction: column;
    min-height: 300px;
    padding-bottom: 100px;
  }

  .border {
    border: none;
  }
}

@media (max-width: 450px) {
  .userInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .name {
    font-size: calc(2 * var(--size));
    line-height: calc(1.8 * var(--size));
    text-align: center;
  }

  .bio {
    text-align: center;
    font-size: calc(1 * var(--size));
  }
}
